body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --suble-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: auto;
  padding: 0px 15px;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  display: inline-block;
  margin-right: 76px;
}

.logo-studio {
  color: var(--dark-color);
}

.list {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0px;
}

.link:hover,
.link:focus {
  color: var(--pressed-color);
}

.contact {
  font-style: normal;
}

.nav-contact {
  display: flex;
  gap: 40px;
}

.nav-contact-item {
  display: inline-block;
  padding: 24px 20px;
}

.nav-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.footer {
  background-color: var(--dark-color);
  padding: 100px 0px;
}

.bottom-logo {
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: var(--light-color);
}

.footer-note {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  width: 264px;
}

.hero-section {
  background-color: var(--dark-color);
  padding: 188px 0px;
}

.hero-image {
  display: flex;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  max-width: 496px;
  display: block;
  box-sizing: border-box;
  margin: auto;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--brand-color);
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--pressed-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.objectives-section {
  padding: 120px 0px;
}
.objective-list {
  display: flex;
  gap: 24px;
}

.objective-item-icon {
  display: inline-block;
  width: 264px;
  height: 112px;
  background-color: var(--light-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.objective-item {
  width: calc((100% - 72px) / 4);
}

.objective {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.objectives-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: inline-block;
  margin-top: 8px;
}

.introduction-section {
  padding-bottom: 120px;
}

.introduction-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.introduction-list {
  display: flex;
  gap: 24px;
}

.introduction-item {
  width: calc((100% - 48px) / 3);
}

.team-section {
  background-color: var(--light-color);
  padding: 120px 0px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-background);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.member-box {
  padding: 32px 0px;
}

.member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}

.projects-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--light-color);
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-color);
  border: 1px solid transparent;
}

.projects-menu {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
}

.project {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: left;
  margin-bottom: 8px;
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
}
